<!DOCTYPE html>
<html>
  <head>
    <title>RailsRestClient</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<h1> Testing Rails App HTTP - using RestClient </h1>
    <%= yield %>
		<footer>This is the Footer </footer>
  </body>
</html>
